<div class="main-container">

    <div class="login-container">
        <a href="#"><img src="/assets/logo.png" width="200" /></a>

        <form class="login-form" [formGroup]="passwordResetForm">

            <mat-form-field>
                <mat-label>Schul-E-Mail</mat-label>
                <input type="email" matInput  formControlName="email">
            </mat-form-field>

            <button mat-flat-button color="primary" type="submit">Absenden</button>
            <button mat-button type="button" style="margin-top:10px" [routerLink]="['/']">Zurück</button>
        </form>
    </div>
    <footer>
        <a href="https://www.gso-koeln.de/impressum/" target="_blank">Impressum</a>
    </footer>
</div>