<div class="horizontal-container">
    <mat-card *ngIf="user">
        <mat-card-title>{{user.id == userService.currentUser.id ? "Mein Profil" : (user.firstName | titlecase) + " " + (user.lastName | titlecase)}}</mat-card-title>
        <mat-card-content>
            
            <form class="user-form" [formGroup]="userForm" (ngSubmit)="editUser()">
                <mat-form-field>
                    <mat-label>E-Mail</mat-label>
                    <input type="email" matInput readonly [value]="user.email">
                </mat-form-field>
                
                <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input type="text" matInput readonly [value]="user.firstName + ' ' + user.lastName">
                </mat-form-field>
                
                <mat-form-field *ngIf="userService.currentUser.role == role.admin">
                    <mat-label>Rolle</mat-label>
                    <mat-select formControlName="role">
                        <mat-option *ngFor="let role of roles" [value]="role">{{role | role}}</mat-option>
                    </mat-select>
                </mat-form-field>
                
                <mat-form-field>
                    <mat-label>Räume</mat-label>
                        <input type="text" matInput [matAutocomplete]="auto" [formControl]="roomControl">
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let room of filteredRooms | async" [value]="room">
                                {{room}}
                            </mat-option>
                        </mat-autocomplete>
                </mat-form-field>
                <button mat-stroked-button type="button" (click)="addRoom()">Raum zuteilen</button>
                
                <br/>
                <mat-form-field>
                    <mat-label>Aktuelles Passwort</mat-label>
                    <input type="password" matInput formControlName="passwordOld">
                </mat-form-field>
                
                <mat-form-field>
                    <mat-label>Neues Passwort</mat-label>
                    <input type="password" matInput formControlName="passwordNew">
                </mat-form-field>

                <button mat-flat-button color="primary" type="submit">Speichern</button>
            </form>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-header>
            <mat-card-title>Zugeteilte Räume</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-list *ngIf="roomsAssigned.length > 0 else noAssignedRooms">
                <mat-list-item style="background-color: whitesmoke" *ngFor="let room of roomsAssigned">{{ room }}</mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>
</div>

<ng-template #noAssignedRooms>
    <span>Keine Räume zugeteilt</span>
</ng-template>