<div class="main-container">

    <div class="login-container">
        <a href="#"><img src="/assets/logo.png" width="200" /></a>

        <form class="login-form" [formGroup]="loginForm">

            <mat-form-field>
                <mat-label>Schul-E-Mail</mat-label>
                <input type="email" matInput  formControlName="email">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Passwort</mat-label>
                <input type="password" matInput  formControlName="password">
            </mat-form-field>

            <button mat-flat-button color="primary" type="submit">Einloggen</button>
        </form>
    </div>
    <footer>
        <a href="https://www.gso-koeln.de/impressum/">Impressum</a>
    </footer>
</div>