.roomtype-readonly {
    width: 500px;
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid black;

    .markerReadonly {
        pointer-events: none;
        user-select: none;
        display: block;
        position: relative;
        width: 50px;
        height: 50px;
        top: 0px;
        left: 0px;
        z-index: 1000;
        font-size: xxx-large;
        font-weight: bolder;
        color: red;
    }
}

.roomtype {
    @extend .roomtype-readonly;
    cursor: pointer;

    .marker {
        @extend .markerReadonly;
        visibility: hidden;
    }
}

.report-form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin-top: 20px;
}

